[bn_vgg16]
features.stage1.unit1.conv = 30
features.stage1.unit2.conv = 64
features.stage2.unit1.conv = 128
features.stage2.unit2.conv = 128
features.stage3.unit1.conv = 128
features.stage3.unit2.conv = 128
features.stage3.unit3.conv = 128
features.stage4.unit1.conv = 127
features.stage4.unit2.conv = 113
features.stage4.unit3.conv = 116
features.stage5.unit1.conv = 112
features.stage5.unit2.conv = 102
features.stage5.unit3.conv = 102
output.fc1.fc = 30
output.fc2.fc = 379
output.fc3 = 912

[resnet18]
features.init_block.conv.conv = 60
features.stage1.unit1.body.conv1.conv = 64
features.stage1.unit1.body.conv2.conv = 64
features.stage1.unit2.body.conv1.conv = 64
features.stage1.unit2.body.conv2.conv = 64
features.stage2.unit1.body.conv1.conv = 128
features.stage2.unit1.body.conv2.conv = 128
features.stage2.unit1.identity_conv.conv = 64
features.stage2.unit2.body.conv1.conv = 128
features.stage2.unit2.body.conv2.conv = 128
features.stage3.unit1.body.conv1.conv = 201
features.stage3.unit1.body.conv2.conv = 201
features.stage3.unit1.identity_conv.conv = 64
features.stage3.unit2.body.conv1.conv = 201
features.stage3.unit2.body.conv2.conv = 201
features.stage4.unit1.body.conv1.conv = 201
features.stage4.unit1.body.conv2.conv = 120
features.stage4.unit1.identity_conv.conv = 63
features.stage4.unit2.body.conv1.conv = 103
features.stage4.unit2.body.conv2.conv = 101
output = 301

[resnet50]
features.init_block.conv.conv = 30
features.stage1.unit1.body.conv1.conv = 64
features.stage1.unit1.body.conv2.conv = 64
features.stage1.unit1.body.conv3.conv = 64
features.stage1.unit1.identity_conv.conv = 64
features.stage1.unit2.body.conv1.conv = 64
features.stage1.unit2.body.conv2.conv = 64
features.stage1.unit2.body.conv3.conv = 64
features.stage1.unit3.body.conv1.conv = 64
features.stage1.unit3.body.conv2.conv = 64
features.stage1.unit3.body.conv3.conv = 64
features.stage2.unit1.body.conv1.conv = 128
features.stage2.unit1.body.conv2.conv = 128
features.stage2.unit1.body.conv3.conv = 128
features.stage2.unit1.identity_conv.conv = 256
features.stage2.unit2.body.conv1.conv = 128
features.stage2.unit2.body.conv2.conv = 128
features.stage2.unit2.body.conv3.conv = 128
features.stage2.unit3.body.conv1.conv = 128
features.stage2.unit3.body.conv2.conv = 128
features.stage2.unit3.body.conv3.conv = 128
features.stage2.unit4.body.conv1.conv = 128
features.stage2.unit4.body.conv2.conv = 128
features.stage2.unit4.body.conv3.conv = 128
features.stage3.unit1.body.conv1.conv = 210
features.stage3.unit1.body.conv2.conv = 169
features.stage3.unit1.body.conv3.conv = 256
features.stage3.unit1.identity_conv.conv = 487
features.stage3.unit2.body.conv1.conv = 210
features.stage3.unit2.body.conv2.conv = 176
features.stage3.unit2.body.conv3.conv = 256
features.stage3.unit3.body.conv1.conv = 210
features.stage3.unit3.body.conv2.conv = 177
features.stage3.unit3.body.conv3.conv = 256
features.stage3.unit4.body.conv1.conv = 161
features.stage3.unit4.body.conv2.conv = 172
features.stage3.unit4.body.conv3.conv = 256
features.stage3.unit5.body.conv1.conv = 162
features.stage3.unit5.body.conv2.conv = 166
features.stage3.unit5.body.conv3.conv = 256
features.stage3.unit6.body.conv1.conv = 162
features.stage3.unit6.body.conv2.conv = 165
features.stage3.unit6.body.conv3.conv = 256
features.stage4.unit1.body.conv1.conv = 280
features.stage4.unit1.body.conv2.conv = 213
features.stage4.unit1.body.conv3.conv = 497
features.stage4.unit1.identity_conv.conv = 375
features.stage4.unit2.body.conv1.conv = 160
features.stage4.unit2.body.conv2.conv = 214
features.stage4.unit2.body.conv3.conv = 507
features.stage4.unit3.body.conv1.conv = 172
features.stage4.unit3.body.conv2.conv = 198
features.stage4.unit3.body.conv3.conv = 504
output = 916

[resnet20_cifar10]
features.init_block.conv = 10
features.stage1.unit1.body.conv1.conv = 16
features.stage1.unit1.body.conv2.conv = 16
features.stage1.unit2.body.conv1.conv = 16
features.stage1.unit2.body.conv2.conv = 16
features.stage1.unit3.body.conv1.conv = 16
features.stage1.unit3.body.conv2.conv = 16
features.stage2.unit1.body.conv1.conv = 32
features.stage2.unit1.body.conv2.conv = 32
features.stage2.unit1.identity_conv.conv = 32
features.stage2.unit2.body.conv1.conv = 32
features.stage2.unit2.body.conv2.conv = 32
features.stage2.unit3.body.conv1.conv = 32
features.stage2.unit3.body.conv2.conv = 32
features.stage3.unit1.body.conv1.conv = 64
features.stage3.unit1.body.conv2.conv = 64
features.stage3.unit1.identity_conv.conv = 64
features.stage3.unit2.body.conv1.conv = 64
features.stage3.unit2.body.conv2.conv = 63
features.stage3.unit3.body.conv1.conv = 64
features.stage3.unit3.body.conv2.conv = 64
output = 10

[resnet56_cifar10]
features.init_block.conv = 10
features.stage1.unit1.body.conv1.conv = 16
features.stage1.unit1.body.conv2.conv = 16
features.stage1.unit2.body.conv1.conv = 16
features.stage1.unit2.body.conv2.conv = 17
features.stage1.unit3.body.conv1.conv = 16
features.stage1.unit3.body.conv2.conv = 17
features.stage1.unit4.body.conv1.conv = 16
features.stage1.unit4.body.conv2.conv = 17
features.stage1.unit5.body.conv1.conv = 16
features.stage1.unit5.body.conv2.conv = 16
features.stage1.unit6.body.conv1.conv = 16
features.stage1.unit6.body.conv2.conv = 17
features.stage1.unit7.body.conv1.conv = 16
features.stage1.unit7.body.conv2.conv = 17
features.stage1.unit8.body.conv1.conv = 16
features.stage1.unit8.body.conv2.conv = 17
features.stage1.unit9.body.conv1.conv = 16
features.stage1.unit9.body.conv2.conv = 17
features.stage2.unit1.body.conv1.conv = 32
features.stage2.unit1.body.conv2.conv = 31
features.stage2.unit1.identity_conv.conv = 32
features.stage2.unit2.body.conv1.conv = 31
features.stage2.unit2.body.conv2.conv = 32
features.stage2.unit3.body.conv1.conv = 31
features.stage2.unit3.body.conv2.conv = 32
features.stage2.unit4.body.conv1.conv = 32
features.stage2.unit4.body.conv2.conv = 32
features.stage2.unit5.body.conv1.conv = 32
features.stage2.unit5.body.conv2.conv = 32
features.stage2.unit6.body.conv1.conv = 32
features.stage2.unit6.body.conv2.conv = 32
features.stage2.unit7.body.conv1.conv = 32
features.stage2.unit7.body.conv2.conv = 32
features.stage2.unit8.body.conv1.conv = 32
features.stage2.unit8.body.conv2.conv = 32
features.stage2.unit9.body.conv1.conv = 32
features.stage2.unit9.body.conv2.conv = 32
features.stage3.unit1.body.conv1.conv = 63
features.stage3.unit1.body.conv2.conv = 63
features.stage3.unit1.identity_conv.conv = 32
features.stage3.unit2.body.conv1.conv = 62
features.stage3.unit2.body.conv2.conv = 61
features.stage3.unit3.body.conv1.conv = 62
features.stage3.unit3.body.conv2.conv = 60
features.stage3.unit4.body.conv1.conv = 62
features.stage3.unit4.body.conv2.conv = 60
features.stage3.unit5.body.conv1.conv = 62
features.stage3.unit5.body.conv2.conv = 59
features.stage3.unit6.body.conv1.conv = 61
features.stage3.unit6.body.conv2.conv = 57
features.stage3.unit7.body.conv1.conv = 59
features.stage3.unit7.body.conv2.conv = 54
features.stage3.unit8.body.conv1.conv = 58
features.stage3.unit8.body.conv2.conv = 52
features.stage3.unit9.body.conv1.conv = 51
features.stage3.unit9.body.conv2.conv = 50
output = 12

