[bn_vgg16]
features.stage1.unit1.conv = 128
features.stage1.unit2.conv = 128
features.stage2.unit1.conv = 128
features.stage2.unit2.conv = 128
features.stage3.unit1.conv = 128
features.stage3.unit2.conv = 128
features.stage3.unit3.conv = 128
features.stage4.unit1.conv = 128
features.stage4.unit2.conv = 128
features.stage4.unit3.conv = 128
features.stage5.unit1.conv = 128
features.stage5.unit2.conv = 128
features.stage5.unit3.conv = 128
output.fc1.fc = 512
output.fc2.fc = 512
output.fc3 = 1024

[resnet18]
features.init_block.conv.conv = 288
features.stage1.unit1.body.conv1.conv = 288
features.stage1.unit1.body.conv2.conv = 288
features.stage1.unit2.body.conv1.conv = 288
features.stage1.unit2.body.conv2.conv = 288
features.stage2.unit1.body.conv1.conv = 288
features.stage2.unit1.body.conv2.conv = 288
features.stage2.unit1.identity_conv.conv = 64
features.stage2.unit2.body.conv1.conv = 288
features.stage2.unit2.body.conv2.conv = 288
features.stage3.unit1.body.conv1.conv = 288
features.stage3.unit1.body.conv2.conv = 288
features.stage3.unit1.identity_conv.conv = 64
features.stage3.unit2.body.conv1.conv = 288
features.stage3.unit2.body.conv2.conv = 288
features.stage4.unit1.body.conv1.conv = 288
features.stage4.unit1.body.conv2.conv = 288
features.stage4.unit1.identity_conv.conv = 64
features.stage4.unit2.body.conv1.conv = 288
features.stage4.unit2.body.conv2.conv = 288
output = 512

[resnet50]
features.init_block.conv.conv = 0
features.stage1.unit1.body.conv1.conv = 64
features.stage1.unit1.body.conv2.conv = 288
features.stage1.unit1.body.conv3.conv = 64
features.stage1.unit1.identity_conv.conv = 64
features.stage1.unit2.body.conv1.conv = 128
features.stage1.unit2.body.conv2.conv = 288
features.stage1.unit2.body.conv3.conv = 64
features.stage1.unit3.body.conv1.conv = 128
features.stage1.unit3.body.conv2.conv = 288
features.stage1.unit3.body.conv3.conv = 64
features.stage2.unit1.body.conv1.conv = 128
features.stage2.unit1.body.conv2.conv = 576
features.stage2.unit1.body.conv3.conv = 128
features.stage2.unit1.identity_conv.conv = 256
features.stage2.unit2.body.conv1.conv = 128
features.stage2.unit2.body.conv2.conv = 576
features.stage2.unit2.body.conv3.conv = 128
features.stage2.unit3.body.conv1.conv = 128
features.stage2.unit3.body.conv2.conv = 576
features.stage2.unit3.body.conv3.conv = 128
features.stage2.unit4.body.conv1.conv = 256
features.stage2.unit4.body.conv2.conv = 576
features.stage2.unit4.body.conv3.conv = 128
features.stage3.unit1.body.conv1.conv = 256
features.stage3.unit1.body.conv2.conv = 1152
features.stage3.unit1.body.conv3.conv = 256
features.stage3.unit1.identity_conv.conv = 512
features.stage3.unit2.body.conv1.conv = 512
features.stage3.unit2.body.conv2.conv = 1152
features.stage3.unit2.body.conv3.conv = 256
features.stage3.unit3.body.conv1.conv = 512
features.stage3.unit3.body.conv2.conv = 1152
features.stage3.unit3.body.conv3.conv = 256
features.stage3.unit4.body.conv1.conv = 256
features.stage3.unit4.body.conv2.conv = 1152
features.stage3.unit4.body.conv3.conv = 256
features.stage3.unit5.body.conv1.conv = 256
features.stage3.unit5.body.conv2.conv = 1152
features.stage3.unit5.body.conv3.conv = 256
features.stage3.unit6.body.conv1.conv = 256
features.stage3.unit6.body.conv2.conv = 1152
features.stage3.unit6.body.conv3.conv = 256
features.stage4.unit1.body.conv1.conv = 512
features.stage4.unit1.body.conv2.conv = 2304
features.stage4.unit1.body.conv3.conv = 512
features.stage4.unit1.identity_conv.conv = 512
features.stage4.unit2.body.conv1.conv = 512
features.stage4.unit2.body.conv2.conv = 2304
features.stage4.unit2.body.conv3.conv = 512
features.stage4.unit3.body.conv1.conv = 512
features.stage4.unit3.body.conv2.conv = 2104
features.stage4.unit3.body.conv3.conv = 512
output = 2048

[resnet20_cifar10]
features.init_block.conv = 0
features.stage1.unit1.body.conv1.conv = 0
features.stage1.unit1.body.conv2.conv = 0
features.stage1.unit2.body.conv1.conv = 0
features.stage1.unit2.body.conv2.conv = 0
features.stage1.unit3.body.conv1.conv = 0
features.stage1.unit3.body.conv2.conv = 0
features.stage2.unit1.body.conv1.conv = 0
features.stage2.unit1.body.conv2.conv = 0
features.stage2.unit1.identity_conv.conv = 0
features.stage2.unit2.body.conv1.conv = 0
features.stage2.unit2.body.conv2.conv = 0
features.stage2.unit3.body.conv1.conv = 0
features.stage2.unit3.body.conv2.conv = 0
features.stage3.unit1.body.conv1.conv = 0
features.stage3.unit1.body.conv2.conv = 0
features.stage3.unit1.identity_conv.conv = 0
features.stage3.unit2.body.conv1.conv = 0
features.stage3.unit2.body.conv2.conv = 0
features.stage3.unit3.body.conv1.conv = 0
features.stage3.unit3.body.conv2.conv = 0
output = 0

[resnet56_cifar10]
features.init_block.conv = 0
features.stage1.unit1.body.conv1.conv = 0
features.stage1.unit1.body.conv2.conv = 0
features.stage1.unit2.body.conv1.conv = 0
features.stage1.unit2.body.conv2.conv = 0
features.stage1.unit3.body.conv1.conv = 0
features.stage1.unit3.body.conv2.conv = 0
features.stage1.unit4.body.conv1.conv = 0
features.stage1.unit4.body.conv2.conv = 0
features.stage1.unit5.body.conv1.conv = 0
features.stage1.unit5.body.conv2.conv = 0
features.stage1.unit6.body.conv1.conv = 0
features.stage1.unit6.body.conv2.conv = 0
features.stage1.unit7.body.conv1.conv = 0
features.stage1.unit7.body.conv2.conv = 0
features.stage1.unit8.body.conv1.conv = 0
features.stage1.unit8.body.conv2.conv = 0
features.stage1.unit9.body.conv1.conv = 0
features.stage1.unit9.body.conv2.conv = 0
features.stage2.unit1.body.conv1.conv = 0
features.stage2.unit1.body.conv2.conv = 0
features.stage2.unit1.identity_conv.conv = 0
features.stage2.unit2.body.conv1.conv = 0
features.stage2.unit2.body.conv2.conv = 0
features.stage2.unit3.body.conv1.conv = 0
features.stage2.unit3.body.conv2.conv = 0
features.stage2.unit4.body.conv1.conv = 0
features.stage2.unit4.body.conv2.conv = 0
features.stage2.unit5.body.conv1.conv = 0
features.stage2.unit5.body.conv2.conv = 0
features.stage2.unit6.body.conv1.conv = 0
features.stage2.unit6.body.conv2.conv = 0
features.stage2.unit7.body.conv1.conv = 0
features.stage2.unit7.body.conv2.conv = 0
features.stage2.unit8.body.conv1.conv = 0
features.stage2.unit8.body.conv2.conv = 0
features.stage2.unit9.body.conv1.conv = 0
features.stage2.unit9.body.conv2.conv = 0
features.stage3.unit1.body.conv1.conv = 0
features.stage3.unit1.body.conv2.conv = 0
features.stage3.unit1.identity_conv.conv = 0
features.stage3.unit2.body.conv1.conv = 0
features.stage3.unit2.body.conv2.conv = 0
features.stage3.unit3.body.conv1.conv = 0
features.stage3.unit3.body.conv2.conv = 0
features.stage3.unit4.body.conv1.conv = 0
features.stage3.unit4.body.conv2.conv = 0
features.stage3.unit5.body.conv1.conv = 0
features.stage3.unit5.body.conv2.conv = 0
features.stage3.unit6.body.conv1.conv = 0
features.stage3.unit6.body.conv2.conv = 0
features.stage3.unit7.body.conv1.conv = 0
features.stage3.unit7.body.conv2.conv = 0
features.stage3.unit8.body.conv1.conv = 0
features.stage3.unit8.body.conv2.conv = 0
features.stage3.unit9.body.conv1.conv = 0
features.stage3.unit9.body.conv2.conv = 0
output = 0

